$box-grid:          8px                           !default;

$box-sm:            $box-grid * 96                !default;
$box-md:            $box-grid * 105               !default;
$box-lg:            $box-grid * 128               !default;
$box-mq-sm:         "(max-width: #{$box-sm})"     !default;
$box-mq-md:         "(min-width: #{$box-md})"     !default;
$box-mq-lg:         "(min-width: #{$box-lg})"     !default;

$box-bg:            #fff                          !default;
$box-color:         #505666                       !default;
$box-border:        0                             !default;
$box-radius:        4px                           !default;
$box-shadow:        0 2px 2px rgba(0, 0, 0, .15)  !default;

$box-header-bg:     transparent                   !default;
$box-header-color:  $box-color                    !default;
$box-header-border: 1px solid #ddd                !default;
$box-header-size:   $box-grid * 2.5               !default;
$box-header-weight: 400 !default;

$box-body-bg:       transparent                   !default;
$box-body-color:    $box-color                    !default;

$box-footer-bg:     transparent                   !default;
$box-footer-color:  $box-color                    !default;
$box-footer-border: $box-header-border            !default;
