$box-grid:          8px;

$box-bg:            #fff;
$box-color:         #505666;
$box-border:        0;
$box-radius:        4px;
$box-shadow:        0 2px 2px rgba(0, 0, 0, .15);

$box-header-bg:     transparent;
$box-header-color:  $box-color;
$box-header-border: 1px solid #ddd;
$box-header-size:   $box-grid * 2.5;
$box-header-weight: 400;

$box-body-bg:       transparent;
$box-body-color:    $box-color;

$box-footer-bg:     transparent;
$box-footer-color:  $box-color;
$box-footer-border: $box-header-border;
